//
   Created by Chadd on 2/28/2015.

extends layout
block content
    h1 Thank you for completing the survey.
    a(href='/') Return to the home page
    br
    a(href='/quiz/results') View your results