extends layout
block content
    h1 Please enter your GPA
    if message
        h3=message
    else
        p Please use two digits after the decimal, such as; 3.00
    form(action='/quiz',method='post')
        input(type="text", name="gpa", value="")
        input(type='submit',value='Continue')