extends layout
block content
    h1 e422Match.com
    form(action='/quiz',method='get')
        label(for='name') Please enter your name
        if userName
            input(type='text',value='#{userName}',name='uName')
        else
            input(type='text',value='',name='uName')
        input(type='submit',value='Start quiz', name='new')
        input(type='submit',value='See results', name='results')