extends layout
block content
    h1=question.title
    form(action='/quiz',method='post')
        - var answerNumber = 0
        for anAnswer in question.answers
            input(type="radio", name="answerID", value="#{answerNumber}")
            - answerNumber++
            =anAnswer
            br
        br
        input(type='hidden',value='#{qID}', name='qID')
        input(type='submit',value='Continue')