extends layout
block content
    if matches
        h1 Your matches ordered by most compatible match first
        ol
            for match in matches
                li=match
    else
        h1 Sorry, no results to display yet
    a(href='/') Return to the home page


